/* global */

:root {
  /* color */
  --color-white: #ffffff;
  --color-light-write: #eeeeee;
  --color-dark-white: #bdbdbd;

  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --colr-grey: #616161;

  --color-blue: #73aace;

  --color-yellow: #fff7d1;

  --color-orange: #feb546;
  --color-strong-orange: #dc2f02;

  --color-mint: #2ec4b6;
  --color-light-mint: #cbf3f0;

  /* font size */

  --font-large48: 48px;

  --font-medium28: 28px;

  --font-regular18: 18px;

  --font-small16: 16px;

  --font-micro14: 14px;

  /* font weight */

  --weight-bold700: 700;

  --weight-semi-bold600: 600;

  --weight-regular400: 400;

  /* size */

  --size-border-radius4px: 4px;

  /* animation */
  --animation_duration300ms: 300ms;
}

/* universam tags */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  padding-left: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}
li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* typography */

h1 {
  font-size: var(--font-large48);
  font-weight: var(--weight-bold700);
  color: var(--color-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium28);
  font-weight: var(--weight-semi-bold600);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular18);
  font-weight: var(--font-regular18);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular18);
  font-weight: var(--font-regular18);
  color: var(--color-black);
  margin: 4px 0;
}



/* navbar */

#navbar{
    
/* js 58 */
position: fixed;
display: flex;
justify-content: space-between;

width: 100%;
 background-color: transparent;
align-items: center;
 
color: var(--color-black);
padding: 16px;

transition: all var(--animation_duration300ms) ease-in-out;

z-index: 1;
}
/* js 58 */
#navbar.navbar--dark{
    background-color: var(--color-orange);
    padding: 16px;
}




background-color: yellow;
























/*  */

/* Section */
.section {
  margin: auto;
  text-align: center;
  padding: 50px;
  padding-top: 80px;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px 0;
}
