

body{
    font-family: "Open Sans", sans-serif;
}

/* Section */
.section{
    margin: auto;
    text-align: center;
    padding: 50px;
    padding-top: 80px;
}

.section__container{
    max-width: 1200px;
    margin: auto;
}

/* About */
.about__majors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 0;
}